<app-vjs-player 
        [options]="{
            fluid: false,
            aspectRatio: '16:9', 
            readyState: 4,
            poster: 'https://images7.alphacoders.com/349/thumb-1920-349986.jpg',
            volume: '1', 
            width: 900, 
            muted: false, 
            controls: true, 
            autoplay: false,
            sources: [{ src: 'https://r220107.kujo-jotaro.com/boku-dake/1.1080.d98356b67bf5a2f8.mp4?hash1=60cbefc691d413715b37e75e706b4c5f&hash2=264f51c1164a22e783ab609835ce518e', type: 'video/mp4' }]
        }"
></app-vjs-player>
<br><br>
<button>previous</button>
<button>next</button>
<br><br>
<app-series-cell 
    [options]="season">
</app-series-cell>
