<app-vjs-player 
*ngIf="getVideoUrl()"
        [options]="{
            fluid: false,
            aspectRatio: '16:9', 
            readyState: 4,
            poster: './i',
            volume: '1', 
            width: 900, 
            muted: false, 
            controls: true, 
            autoplay: false,
            sources: [{ src: getVideoUrl(), type: 'video/mp4' }]
        }"
></app-vjs-player>
<br><br>
<div class="buttons">
    <button>previous</button>
    <button>next</button>
</div>
<br><br>
<app-series-cell 
[episodes]="episodes"
(episodeSelectedId)="onEpisodeSelected($event)"
></app-series-cell>
